---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  -bugprone-easily-swappable-parameters,
  -portability-restrict-system-includes
HeaderFilterRegex: '^(.*[\\/])?(include|src|tests|apps)[\\/]'
FormatStyle: file
...
